<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Proyecto Tecnologias Web</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="wrapper">
	<div id="header">
		<div id="logo">
			<h1><a href="#">Peliculas.github</a></h1>
			<h2><a>una pagina de Alicia y Cristian</a></h2>
		</div>
		<div id="menu">
			<ul>
				<li class="active"><a href="index.html">Principal</a></li>
				<li><a href="#">Mis peliculas</a></li>
				<li><a href="#">Contacto</a></li>
			</ul>
		</div>
	</div>
	<div id="page"><div class="inner_copy"></div>
		<div id="page-bgtop">
			<div id="content">
				<div class="post">
					<h2 class="title"><a href="#">Capitan America: Civil War</a></h2>
					<p class="byline">Proyecto Tecnologias Web</p>
					<div class="entry">
						<p><img src="images/civil.jpg" alt="" width="564" height="294" /></p>
                        <p><strong>'Capitán América: Civil War'</strong> sigue a Steve Rogers liderando al nuevo equipo de Vengadores en sus continúos esfuerzos para mantener a salvo a la humanidad. Pero después de los daños colaterales de otro incidente en el que el grupo de superhéroes está involucrado, la presión política instala un sistema de responsabilidad encabezado por el Gobierno para supervisar y dirigir al equipo. El nuevo <strong>‘status quo’</strong> provoca la ruptura de los Vengadores y da como resultado dos bandos -uno liderado por Steve Rogers y su deseo de que los superhéroes sigan siendo libres para defender a la humanidad sin la intromisión del Gobierno y otro liderado por Tony Stark que decide apoyar la decisión de la clase dirigente.</p>
					</div>
					<div class="meta"><p class="links"><a href="https://mega.nz/#!MNB1mRJL!FnCyzplslv-T5u2vUUk2qpoU_vsAQpRMf0b9X3qQNEE" class="comments" target="_blank">Descargar!!!</a></p></div>
				</div>
				<div class="post">
					<h2 class="title"><a href="#">Guerra de papás</a></h2>
					<p class="byline">Proyecto Tecnologias Web</p>
					<div class="entry">
						<p><img src="images/dad.jpg" alt="" width="564" height="294" /></p><p><strong>"GUERRA DE PAPÁS"</strong> nos cuenta la historia de un tranquilo ejecutivo de radio <strong>(Ferrell)</strong> cuyo mayor deseo es convertirse en el mejor padrastro para los dos hijos de su esposa. Las complicaciones comienzan cuando el salvaje padre biológico de los niños <strong>(Wahlberg)</strong> aparece en escena y lo obliga a competir por el afecto de los niños.</p>
					</div>
					<div class="meta"><p class="links"><a href="https://mega.nz/#!1EZHSDSD!mDn7WNHpCbZ0SvsccYj8JVSF0ks8rUlNVA45xtXRHA8" class="comments" target="_blank">Descargar!!!</a></p></div>
				</div>
			</div>
			<div id="sidebar">
				<ul>
					<li id="search">
						<h2>Search</h2>
						<form method="get" action="#">
							<fieldset>
								<input type="text" id="seach-text" name="s" value="" />
								<input type="submit" id="search-submit" value="Search" />
							</fieldset>
						</form>
					</li>
					<li>
						<h2>Mis favoritas</h2>
						<ul>
							<li><img src="images/favo.jpg" alt="" width="182" height="128" />
							<li>
							<li><a href="#">Agregar a mi lista</a></li>
						</ul>
					</li>
					<li>
						<h2>Poner comentarios</h2>
						<ul>
							<li><img src="images/editar1.jpg" alt="" width="182" height="128" />
							<li><a href="#">Contacto</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<div style="clear:both;"></div>
		</div>
	</div>
	<div id="footer">
        <div class="fclear">
        <center>
            <a href="index2.html"><img src="images/despues.jpg" height="64" width="60" /></a></center>
        </div></div>
</div>
</body>
</html>
