<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Proyecto Tecnologias Web</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="wrapper">
	<div id="header">
		<div id="logo">
			<h1><a href="#">Peliculas.github</a></h1>
			<h2><a>una pagina de Alicia y Cristian</a></h2>
		</div>
		<div id="menu">
			<ul>
				<li class="active"><a href="index.html">Principal</a></li>
				<li><a href="#">Mis peliculas</a></li>
				<li><a href="#">Contacto</a></li>
			</ul>
		</div>
	</div>
	<div id="page"><div class="inner_copy"></div>
		<div id="page-bgtop">
			<div id="content">
				<div class="post">
					<h2 class="title"><a href="#">Recuerdame:</a></h2>
					<p class="byline">Proyecto Tecnologias Web</p>
					<div class="entry">
						<p><img src="images/remember.jpg" alt="" width="564" height="294" /></p>
                        <p>Protagonizada por la estrella de La Saga Crepúsculo, <strong>Robert Pattinson</strong>, Acuérdate de mí cuenta el trágico drama de una familia que empieza a descomponerse tras el suicidio de uno de sus hijos. A pesar de ello, el hijo restante<strong> (Pattinson)</strong> no pierde la esperanza de llegar a enamorarse y es entonces cuando conoce a una joven que ha presenciado el suicidio de su propia madre. A pesar de todas las desgracias familiares, lucharán por que su historia de amor funcione.</p>
					</div>
					<div class="meta"><p class="links"><a href="https://mega.nz/#!MNB1mRJL!FnCyzplslv-T5u2vUUk2qpoU_vsAQpRMf0b9X3qQNEE" class="comments" target="_blank">Descargar!!!</a></p></div>
				</div>
				<div class="post">
					<h2 class="title"><a href="#">Dolor y gloria:</a></h2>
					<p class="byline">Proyecto Tecnologias Web</p>
					<div class="entry">
						<p><img src="images/pain.jpg" alt="" width="564" height="294" /></p><p>
                        Miami, años 90. Daniel Lugo y Adrian Doorbal entrenan muy duro en el gimnasio cada día. Debido a su profesión como culturistas, dedican más tiempo a atender su cuerpo que a cualquier otra faceta que suponga un esfuerzo mental. Daniel adora el fitness, pero es un trabajo que no da mucho dinero, y pensar que toda su vida se dedicará a ello le agobia, por lo que decide pasar a la acción y dar un gran golpe. Los dos, junto con Paul, un ex presidiario temeroso de Dios, forman un grupo para extorsionar y secuestrar a un empresario adinerado. El plan parece dar resultado, sin embargo, cuando están disfrutando de su victoria, comienzan los problemas.
                        </p>
					</div>
					<div class="meta"><p class="links"><a href="https://mega.nz/#!1EZHSDSD!mDn7WNHpCbZ0SvsccYj8JVSF0ks8rUlNVA45xtXRHA8" class="comments" target="_blank">Descargar!!!</a></p></div>
				</div>
			</div>
			<div id="sidebar">
				<ul>
					<li id="search">
						<h2>Search</h2>
						<form method="get" action="#">
							<fieldset>
								<input type="text" id="seach-text" name="s" value="" />
								<input type="submit" id="search-submit" value="Search" />
							</fieldset>
						</form>
					</li>
					<li>
						<h2>Mis favoritas</h2>
						<ul>
							<li><img src="images/favo.jpg" alt="" width="182" height="128" />
							<li>
							<li><a href="#">Agregar a mi lista</a></li>
						</ul>
					</li>
					<li>
						<h2>Poner comentarios</h2>
						<ul>
							<li><img src="images/editar1.jpg" alt="" width="182" height="128" />
							<li><a href="#">Contacto</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<div style="clear:both;"></div>
		</div>
	</div>
	<div id="footer">
        <div class="fclear">
            <center>
            <a href="index2.html"><img src="images/antes.jpg" height="64" width="60" /></a>
            <a href="index4.html"><img src="images/despues.jpg" height="64" width="60" /></a></center>
        </div></div>
</div>
</body>
</html>
